<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="refresh" content="5">
	<title>Status Page</title>
</head>
<body>
	<h1>Status Page</h1>

	{{.LastCheck.Format "Jan 02, 2006 15:04:05"}}

	<ul>
		{{range .Services}}
			<li>
				{{.CheckType}} {{.Address}}:
				{{if .Status}}
					<span style="color: green">OK</span>
				{{else}}
					<span style="color: red">ERROR</span>
				{{end}}
			</li>
		{{end}}
	</ul>
</body>
</html>